
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.generic-card {
  transition: transform 0.3s ease;
}

.generic-card:hover {
  transform: scale(1.1);
}

.main-content {
  padding-bottom: 5rem;    
  padding-top: 1rem;    
}